body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.header {
  height: 150px;
  width: 100vw;
  background: blue;
}

.nav {
display: inline-block;
width: 15vw;
height: 100vh;
background: orange;
}

.main {
  display: inline-block;
  width: 85vw;
  height: 100vh;
  background: green;
}